# AT3 - Data Preparation

We work with the itineraries_csv.zip

First we unzip.

In [2]:
import zipfile
import os
import pandas as pd

In [ ]:
zip_file_path = '../data/raw/itineraries_csv.zip'
destination_folder = "../data/interim"

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(destination_folder)

In [ ]:
base_folder = "../data/interim/itineraries_csv"

for airport_folder in os.listdir(base_folder):
    airport_path = os.path.join(base_folder, airport_folder)
    
    # Check if it’s a directory
    if os.path.isdir(airport_path):
        # Iterate through files in the airport folder
        for zip_file in os.listdir(airport_path):
            zip_path = os.path.join(airport_path, zip_file)
            
            # Unzip if it's a zip file
            if zipfile.is_zipfile(zip_path):
                with zipfile.ZipFile(zip_path, 'r') as zip_ref:
                    # Create a folder to store unzipped content within the same airport folder
                    unzipped_folder = os.path.join(airport_path, zip_file.replace('.zip', ''))
                    os.makedirs(unzipped_folder, exist_ok=True)
                    zip_ref.extractall(unzipped_folder)

In [ ]:
atl_folder = "../data/interim/itineraries_csv/ATL"

# Find the first folder inside ATL (one of the unzipped folders)
unzipped_folder = next((f for f in os.listdir(atl_folder) if os.path.isdir(os.path.join(atl_folder, f))), None)

# Path to the unzipped folder
csv_folder_path = os.path.join(atl_folder, unzipped_folder)

# Find the first CSV file in the folder
csv_file = next((f for f in os.listdir(csv_folder_path) if f.endswith('.csv')), None)

# Load and display the CSV file
if csv_file:
    csv_path = os.path.join(csv_folder_path, csv_file)
    df = pd.read_csv(csv_path)
    print(df.head())  # Display the first few rows of the CSV file
else:
    print("No CSV file found in the specified ATL folder.")

In [ ]:
df.head()

In [ ]:
base_folder = "../data/interim/itineraries_csv"

# Iterate over each airport folder
for airport_folder in os.listdir(base_folder):
    airport_path = os.path.join(base_folder, airport_folder)
    
    # Check if it’s a directory
    if os.path.isdir(airport_path):
        combined_df = pd.DataFrame()  # DataFrame to hold combined data for each airport

        # Iterate through each unzipped folder within the airport folder
        for subfolder in os.listdir(airport_path):
            subfolder_path = os.path.join(airport_path, subfolder)

            # Check if it’s a directory and contains CSV files
            if os.path.isdir(subfolder_path):
                for file in os.listdir(subfolder_path):
                    if file.endswith('.csv'):
                        file_path = os.path.join(subfolder_path, file)
                        
                        # Read each CSV and append to the combined DataFrame
                        df = pd.read_csv(file_path)
                        combined_df = pd.concat([combined_df, df], ignore_index=True)

        # Save the combined CSV for the airport folder
        combined_csv_path = os.path.join(airport_path, f"{airport_folder}_combined.csv")
        combined_df.to_csv(combined_csv_path, index=False)
        print(f"Combined CSV saved for {airport_folder} at {combined_csv_path}")

In [ ]:
base_folder = "../data/interim/itineraries_csv"

# DataFrame to hold all combined data from all airports
all_airports_df = pd.DataFrame()

# Iterate over each airport folder
for airport_folder in os.listdir(base_folder):
    airport_path = os.path.join(base_folder, airport_folder)
    
    # Path to the combined CSV file for the airport
    combined_csv_path = os.path.join(airport_path, f"{airport_folder}_combined.csv")
    
    # Check if the combined CSV file exists
    if os.path.isfile(combined_csv_path):
        # Read the combined CSV file and append to the all_airports DataFrame
        df = pd.read_csv(combined_csv_path)
        all_airports_df = pd.concat([all_airports_df, df], ignore_index=True)

# Save the final combined CSV for all airports
final_csv_path = os.path.join(base_folder, "all_airports_combined.csv")
all_airports_df.to_csv(final_csv_path, index=False)
print(f"All airports combined CSV saved at {final_csv_path}")

In [4]:
csv_path = "../data/interim/itineraries_csv/all_airports_combined.csv"
df = pd.read_csv(csv_path)

In [5]:
df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,8c3e12759e1b91a21803d1a6178606a8,2022-05-05,2022-06-06,OAK,ATL,PT7H42M,False,False,False,193.99,...,1654577160||1654595760,2022-06-06T22:46:00.000-06:00||2022-06-07T05:5...,DEN||ATL,OAK||DEN,Frontier Airlines||Frontier Airlines,F9||F9,||,9120||10620,943||1207,coach||coach
1,09116e0be6bc1b357c6695e00f48df17,2022-05-05,2022-06-06,OAK,ATL,PT10H25M,False,False,False,255.58,...,1654539000||1654561500,2022-06-06T13:10:00.000-05:00||2022-06-06T20:2...,ORD||ATL,OAK||ORD,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||Airbus A319,15000||7800,None||None,coach||coach
2,27884a7714f975bd4692f0734562a9b1,2022-05-05,2022-06-06,OAK,ATL,PT6H40M,False,False,False,304.78,...,1654547640||1654566000,2022-06-06T13:34:00.000-07:00||2022-06-06T21:4...,LAS||ATL,OAK||LAS,Spirit Airlines||Spirit Airlines,NK||NK,||Airbus A319,5640||14700,None||None,coach||coach
3,46ecaf6738817f2ab949310f9cff6231,2022-05-05,2022-06-06,OAK,ATL,PT8H35M,False,False,False,304.78,...,1654540680||1654566000,2022-06-06T11:38:00.000-07:00||2022-06-06T21:4...,LAS||ATL,OAK||LAS,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||Airbus A319,5580||14700,None||None,coach||coach
4,00c9d3aad9478336d57280e4dcfcbd2a,2022-05-05,2022-06-06,OAK,ATL,PT14H5M,False,False,False,304.78,...,1654584360||1654629300,2022-06-06T23:46:00.000-07:00||2022-06-07T15:1...,LAS||ATL,OAK||LAS,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||AIRBUS INDUST...,5760||14700,None||None,coach||coach

In [6]:
columns_to_extract = [
    'startingAirport',
    'destinationAirport',
    'totalFare',
    'segmentsDepartureTimeRaw',
    'segmentsCabinCode'
]

df_specific_columns = df[columns_to_extract]

In [ ]:
df_specific_columns.info()

In [ ]:
df_specific_columns.head()

In [ ]:
df_specific_columns["startingAirport"].unique()

In [ ]:
df_specific_columns["destinationAirport"].unique()

In [ ]:
df_specific_columns["segmentsDepartureTimeRaw"].unique()

In [8]:
df_specific_columns.to_csv("../data/interim/itineraries_csv/df_specific_columns.csv", index=False)

In [3]:
df_specific_columns = pd.read_csv("../data/interim/itineraries_csv/df_specific_columns.csv")

In [12]:
df_specific_columns[['departure_date', 'departure_time']] = (
    df_specific_columns['segmentsDepartureTimeRaw']
    .str.split(r'\|\|')
    .str[0]  # Take the first leg's timestamp
    .str.extract(r'(\d{4}-\d{2}-\d{2})T(\d{2}:\d{2}:\d{2})')  # Separate date and time
)

In [13]:
df_specific_columns["departure_date"].unique()

array(['2022-06-06', '2022-06-07', '2022-06-23', '2022-06-24',
       '2022-05-27', '2022-05-28', '2022-05-11', '2022-05-12',
       '2022-06-17', '2022-06-18', '2022-06-19', '2022-05-15',
       '2022-05-16', '2022-05-17', '2022-06-15', '2022-06-16',
       '2022-05-31', '2022-06-01', '2022-06-02', '2022-06-09',
       '2022-06-10', '2022-06-03', '2022-06-04', '2022-06-11',
       '2022-06-12', '2022-05-13', '2022-05-14', '2022-06-13',
       '2022-06-27', '2022-06-28', '2022-05-26', '2022-07-06',
       '2022-07-07', '2022-07-08', '2022-07-04', '2022-05-07',
       '2022-06-14', '2022-05-29', '2022-05-30', '2022-06-26',
       '2022-05-24', '2022-05-25', '2022-05-22', '2022-05-23',
       '2022-07-11', '2022-05-21', '2022-06-29', '2022-06-30',
       '2022-06-05', '2022-05-18', '2022-05-19', '2022-05-20',
       '2022-06-08', '2022-05-09', '2022-05-10', '2022-06-20',
       '2022-06-21', '2022-06-25', '2022-06-22', '2022-05-06',
       '2022-07-09', '2022-07-10', '2022-07-05', '2022-07-01',
       '2022-07-02', '2022-07-03', '2022-05-08', '2022-04-29',
       '2022-04-30', '2022-05-03', '2022-05-04', '2022-05-01',
       '2022-05-02', '2022-04-28', '2022-05-05', '2022-04-27',
       '2022-04-26', '2022-04-25', '2022-04-23', '2022-04-24',
       '2022-04-21', '2022-04-22', '2022-04-19', '2022-04-20',
       '2022-04-18', '2022-07-12', '2022-04-17', '2022-07-13',
       '2022-07-14', '2022-07-17', '2022-07-15', '2022-07-16',
       '2022-07-18'], dtype=object)

In [16]:
sum(df_specific_columns["departure_time"].isna())

0

In [17]:
df_specific_columns.head()

,startingAirport,destinationAirport,totalFare,segmentsDepartureTimeRaw,segmentsCabinCode,departure_date,departure_time
0,OAK,ATL,193.99,2022-06-06T19:14:00.000-07:00||2022-06-07T00:5...,coach||coach,2022-06-06,19:14:00
1,OAK,ATL,255.58,2022-06-06T07:00:00.000-07:00||2022-06-06T17:1...,coach||coach,2022-06-06,07:00:00
2,OAK,ATL,304.78,2022-06-06T12:00:00.000-07:00||2022-06-06T14:3...,coach||coach,2022-06-06,12:00:00
3,OAK,ATL,304.78,2022-06-06T10:05:00.000-07:00||2022-06-06T14:3...,coach||coach,2022-06-06,10:05:00
4,OAK,ATL,304.78,2022-06-06T22:10:00.000-07:00||2022-06-07T08:1...,coach||coach,2022-06-06,22:10:00

In [18]:
df_specific_columns["segmentsCabinCode"].unique()

array(['coach||coach', 'coach||coach||coach', 'coach',
       'coach||first||coach', 'first||first||first',
       'coach||coach||premium coach', 'coach||business',
       'coach||premium coach||coach',
       'coach||premium coach||premium coach', 'business||business',
       'first||coach||coach', 'coach||coach||coach||coach',
       'coach||coach||first', 'first||first||coach', 'first||first',
       'business||coach||coach', 'coach||business||coach',
       'business||coach', 'coach||premium coach', 'coach||first||first',
       'business||business||coach', 'coach||first',
       'coach||business||business', 'first||coach',
       'coach||coach||business', 'premium coach', 'first||coach||first',
       'business||coach||business', 'premium coach||coach', 'business',
       'first', 'coach||coach||coach||premium coach',
       'premium coach||premium coach', 'coach||coach||coach||first',
       'premium coach||coach||coach', 'first||coach||business',
       'premium coach||premium coach||coach',
       'premium coach||premium coach||premium coach', 'first||business',
       'first||coach||coach||coach', 'first||first||coach||coach',
       'premium coach||first', 'premium coach||coach||coach||coach',
       'coach||business||first', 'business||first',
       'business||first||first', 'premium coach||business||coach',
       'coach||coach||first||first', 'coach||coach||first||coach',
       'coach||coach||premium coach||premium coach',
       'coach||coach||premium coach||coach',
       'coach||coach||business||coach'], dtype=object)

In [19]:
df_specific_columns['cabin_type'] = (
    df_specific_columns['segmentsCabinCode']
    .str.split(r'\|\|')  # Split by '||' to separate each leg
    .str[0]              # Take the first leg's cabin type
)

In [20]:
df_specific_columns['cabin_type'].unique()

array(['coach', 'first', 'business', 'premium coach'], dtype=object)

In [21]:
final_columns = ["startingAirport", "destinationAirport", "totalFare", "departure_date", "departure_time", "cabin_type"]

df_preprocessed = df_specific_columns[final_columns]

In [22]:
df_preprocessed.head()

,startingAirport,destinationAirport,totalFare,departure_date,departure_time,cabin_type
0,OAK,ATL,193.99,2022-06-06,19:14:00,coach
1,OAK,ATL,255.58,2022-06-06,07:00:00,coach
2,OAK,ATL,304.78,2022-06-06,12:00:00,coach
3,OAK,ATL,304.78,2022-06-06,10:05:00,coach
4,OAK,ATL,304.78,2022-06-06,22:10:00,coach

In [24]:
df_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519999 entries, 0 to 13519998
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   startingAirport     object
 1   destinationAirport  object
 2   totalFare           float64
 3   departure_date      object
 4   departure_time      object
 5   cabin_type          object
dtypes: float64(1), object(5)
memory usage: 618.9+ MB

In [26]:
df_preprocessed.loc[:, 'startingAirport'] = df_preprocessed['startingAirport'].astype('category')
df_preprocessed.loc[:, 'destinationAirport'] = df_preprocessed['destinationAirport'].astype('category')
df_preprocessed.loc[:, 'departure_date'] = pd.to_datetime(df_preprocessed['departure_date']).dt.date
df_preprocessed.loc[:, 'departure_time'] = pd.to_datetime(df_preprocessed['departure_time'], errors='coerce').dt.time
df_preprocessed.loc[:, 'cabin_type'] = df_preprocessed['cabin_type'].astype('category')

# Save the processed DataFrame to a new file
df_preprocessed.to_csv('../data/processed/df_processed.csv', index=False)

In [34]:
df_preprocessed.to_csv('../data/processed/df_processed.csv', index=False)

In [33]:
df_preprocessed.loc[:, 'departure_time'] = pd.to_datetime(df_specific_columns['departure_time'], format='%H:%M:%S', errors='coerce').dt.time

In [32]:
pd.to_datetime(df_specific_columns['departure_time'], format='%H:%M:%S', errors='coerce').dt.time.head()

0    19:14:00
1    07:00:00
2    12:00:00
3    10:05:00
4    22:10:00
Name: departure_time, dtype: object