# Notebook 1: Exploratory Data Analysis

## Declare global notebook variables

In [1]:
ROOT_PATH_FROM_NOTEBOOK = ".."
MODELS_PATH = "models"
DATA_PATH = "data"
RAW_DATA_PATH = "raw"
EXTERNAL_DATA_PATH = "external"
INTERIM_DATA_PATH = "interim"
PROCESSED_DATA_PATH = "processed"
ZIPPED_DATA_PATH = "itineraries_csv.zip"

## Import libraries

In [2]:
import sys
import os
import glob

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Set Pandas option to show all columns in prints
pd.set_option('display.max_columns', None)

In [4]:
# Get the current working directory
current_dir = os.getcwd()

# Add the src directory to sys.path to use custom functions
sys.path.append(os.path.abspath(os.path.join(current_dir, '..', 'src')))

In [5]:
# Import custom function (Credit to Pine for authoring/ideating these functions)
from models.data_extraction import extract_nested_zips
from models.sets import cyclical

In [18]:
# Create the data directory string for the zipped data
zip_data_dir = f"{ROOT_PATH_FROM_NOTEBOOK}/{DATA_PATH}/{RAW_DATA_PATH}/{ZIPPED_DATA_PATH}"

# Create the directory string for landing unzipped data
output_data_dir = f"{ROOT_PATH_FROM_NOTEBOOK}/{DATA_PATH}/{INTERIM_DATA_PATH}"

In [ ]:
extract_nested_zips(zip_data_dir, output_data_dir)

In [6]:
# Extract two of the extracted files
df_sample = pd.read_csv(f'{ROOT_PATH_FROM_NOTEBOOK}/{DATA_PATH}/{INTERIM_DATA_PATH}/ATL_itineraries_aa.csv',low_memory=False)
df_sample2 = pd.read_csv(f'{ROOT_PATH_FROM_NOTEBOOK}/{DATA_PATH}/{INTERIM_DATA_PATH}/ATL_itineraries_zz.csv',low_memory=False)

In [7]:
df_sample.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,segmentsDepartureTimeEpochSeconds,segmentsDepartureTimeRaw,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,False,True,248.6,947.0,1650214620,2022-04-17T12:57:00.000-04:00,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,947.0,1650191400,2022-04-17T06:30:00.000-04:00,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,947.0,1650209700,2022-04-17T11:35:00.000-04:00,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,PT2H32M,False,False,True,248.6,947.0,1650218340,2022-04-17T13:59:00.000-04:00,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,PT2H34M,False,False,True,248.6,947.0,1650203940,2022-04-17T09:59:00.000-04:00,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [8]:
df_sample.tail()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,segmentsDepartureTimeEpochSeconds,segmentsDepartureTimeRaw,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
1848,fe6d76c86591bf264fbfbe4394cba987,2022-04-16,2022-04-19,ATL,SFO,PT5H20M,False,False,True,558.60,2135.0,1650370200,2022-04-19T08:10:00.000-04:00,1650389400,2022-04-19T10:30:00.000-07:00,SFO,ATL,Delta,DL,NaN,19200,2135,coach
1849,9c46e20cb56f20d1e51500124675e6b5,2022-04-16,2022-04-19,ATL,SFO,PT5H20M,False,False,True,558.60,2135.0,1650380400,2022-04-19T11:00:00.000-04:00,1650399600,2022-04-19T13:20:00.000-07:00,SFO,ATL,Delta,DL,Boeing 737-900,19200,2135,coach
1850,124a35d2b046e447a8a821b11a2ec930,2022-04-16,2022-04-19,ATL,SFO,PT5H21M,False,False,True,558.60,2135.0,1650417540,2022-04-19T21:19:00.000-04:00,1650436800,2022-04-19T23:40:00.000-07:00,SFO,ATL,Delta,DL,NaN,19260,2135,coach
1851,0ee968aac199b65de6a4f7e6c4e6ee3a,2022-04-16,2022-04-19,ATL,SFO,PT10H39M,False,False,False,565.11,2488.0,1650399600||1650414000||1650430620,2022-04-19T16:20:00.000-04:00||2022-04-19T19:2...,1650408480||1650424740||1650437940,2022-04-19T17:48:00.000-05:00||2022-04-19T21:1...,AUS||SLC||SFO,ATL||AUS||SLC,Delta||Delta||Delta,DL||DL||DL,Airbus A321||Airbus A220-100||Airbus A220-100,8880||10740||7320,811||1078||599,coach||coach||coach
1852,8e81da58328269ec49081217c2cf39fd,2022-04-16,2022-04-19,ATL,SFO,PT10H11M,False,False,False,567.09,2450.0,1650380580||1650393900||1650410100,2022-04-19T11:03:00.000-04:00||2022-04-19T13:4...,1650387780||1650406380||1650417240,2022-04-19T12:03:00.000-05:00||2022-04-19T16:1...,ORD||SLC||SFO,ATL||ORD||SLC,United||Delta||Delta,UA||DL||DL,Airbus A319||Airbus A319||Airbus A220-100,7200||12480||7140,600||1251||599,coach||coach||coach

In [9]:
df_sample2.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,segmentsDepartureTimeEpochSeconds,segmentsDepartureTimeRaw,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,788d457ecc3478ab9cd6989e519db95c,2022-05-19,2022-06-03,ATL,BOS,PT2H28M,False,False,True,130.59,NaN,1654251900,2022-06-03T06:25:00.000-04:00,1654260780,2022-06-03T08:53:00.000-04:00,BOS,ATL,Spirit Airlines,NK,Airbus A319,8880,NaN,coach
1,77a6dc85c1e9fb39ec9ec4716710d44b,2022-05-19,2022-06-03,ATL,BOS,PT2H38M,False,False,True,143.60,947.0,1654268820,2022-06-03T11:07:00.000-04:00,1654278300,2022-06-03T13:45:00.000-04:00,BOS,ATL,JetBlue Airways,B6,NaN,9480,947,coach
2,99e688686500ebcdd2a89c690556d0f4,2022-05-19,2022-06-03,ATL,BOS,PT8H38M,False,False,False,161.58,NaN,1654284540||1654304100,2022-06-03T15:29:00.000-04:00||2022-06-03T20:5...,1654291680||1654315620,2022-06-03T17:28:00.000-04:00||2022-06-04T00:0...,FLL||BOS,ATL||FLL,Spirit Airlines||Spirit Airlines,NK||NK,||,7140||11520,None||None,coach||coach
3,e1294092c852639e25667d276f003292,2022-05-19,2022-06-03,ATL,BOS,PT8H19M,False,False,False,181.58,NaN,1654261500||1654279980,2022-06-03T09:05:00.000-04:00||2022-06-03T14:1...,1654268460||1654291440,2022-06-03T11:01:00.000-04:00||2022-06-03T17:2...,FLL||BOS,ATL||FLL,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||Airbus A319,6960||11460,None||None,coach||coach
4,71909a3a6a77253ec8927080d9c5d2cc,2022-05-19,2022-06-03,ATL,BOS,PT11H18M,False,False,False,181.58,NaN,1654267380||1654296900,2022-06-03T10:43:00.000-04:00||2022-06-03T18:5...,1654272660||1654308060,2022-06-03T12:11:00.000-04:00||2022-06-03T22:0...,MCO||BOS,ATL||MCO,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||AIRBUS INDUST...,5280||11160,None||None,coach||coach

In [10]:
df_sample2.tail()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,segmentsDepartureTimeEpochSeconds,segmentsDepartureTimeRaw,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
994,dafe7cde105105c58119efad61a79151,2022-05-19,2022-06-04,ATL,SFO,PT8H40M,False,False,False,766.61,2838.0,1654373700||1654383900,2022-06-04T16:15:00.000-04:00||2022-06-04T19:0...,1654379100||1654404900,2022-06-04T17:45:00.000-04:00||2022-06-04T21:5...,MCO||SFO,ATL||MCO,Delta||Alaska Airlines,DL||AS,Boeing 757||Boeing 737-900,5400||21000,399||2439,coach||coach
995,57a130a0b9af2de4383e3ce14888fed1,2022-05-19,2022-06-04,ATL,SFO,PT16H1M,False,False,False,812.21,3328.0,1654396500||1654431600,2022-06-04T22:35:00.000-04:00||2022-06-05T08:2...,1654404480||1654454160,2022-06-05T00:48:00.000-04:00||2022-06-05T11:3...,EWR||SFO,ATL||EWR,Delta||Alaska Airlines,DL||AS,Boeing 737-800||Boeing 737-900,7980||22560,762||2566,coach||coach
996,021df79efd5a9adbc865403cba3bcaf1,2022-05-19,2022-06-04,ATL,SFO,PT8H50M,False,False,False,886.60,2857.0,1654344000||1654367700,2022-06-04T08:00:00.000-04:00||2022-06-04T11:3...,1654363500||1654375800,2022-06-04T10:25:00.000-07:00||2022-06-04T13:5...,SEA||SFO,ATL||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Boeing 737 MAX 9||Airbus A320,19500||8100,2178||679,coach||coach
997,88a4642c7f3edaf1a5a0be0c570ebdd8,2022-05-19,2022-06-04,ATL,SFO,PT9H55M,False,False,False,886.60,2857.0,1654344000||1654371900,2022-06-04T08:00:00.000-04:00||2022-06-04T12:4...,1654363500||1654379700,2022-06-04T10:25:00.000-07:00||2022-06-04T14:5...,SEA||SFO,ATL||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Boeing 737 MAX 9||Boeing 737-800,19500||7800,2178||679,coach||coach
998,c57b7874e7e5e5aeed26501d7d2530b8,2022-05-19,2022-06-04,ATL,SFO,PT9H34M,False,False,False,1061.60,2282.0,1654373880||1654403400,2022-06-04T16:18:00.000-04:00||2022-06-04T21:3...,1654390320||1654408320,2022-06-04T17:52:00.000-07:00||2022-06-04T22:5...,LAX||SFO,ATL||LAX,Alaska Airlines||Alaska Airlines,AS||AS,Airbus A320||Embraer 175,16440||4920,1943||339,coach||coach

First observations:
- The mini datasets seem to have the same number of columns throughout, which need to be formally checked prior to concatenating
- Columns corresponding to multi-leg trips need to be processed if going into modelling
- Datasets look clean and structured

## Count the number of columns in each file

I want to count the columns in each file to verify that they are the same, in case each file has a different number of columns. To do this, I will walk through the extracted csv files, get the columns, and put them in a counter.

In [11]:
# Initiate a column counter dictionary 
all_cols = dict.fromkeys(list(df_sample.columns), 0)

# Initiate a list of all CSV files extracted from the zipped data
all_csvs = glob.glob(f'{ROOT_PATH_FROM_NOTEBOOK}/{DATA_PATH}/{INTERIM_DATA_PATH}/*.csv')

In [12]:
# Walk through the CSV files and increment the count if the column is already in the dictionary, else create a new count
for csv_file_path in all_csvs:
    df = pd.read_csv(csv_file_path, nrows=0)
    for c in df.columns:
        try:
            all_cols[c] += 1
        except KeyError:
            all_cols[c] = 1

In [13]:
# Print the result
all_cols

{'legId': 10816,
 'searchDate': 10816,
 'flightDate': 10816,
 'startingAirport': 10816,
 'destinationAirport': 10816,
 'travelDuration': 10816,
 'isBasicEconomy': 10816,
 'isRefundable': 10816,
 'isNonStop': 10816,
 'totalFare': 10816,
 'totalTravelDistance': 10816,
 'segmentsDepartureTimeEpochSeconds': 10816,
 'segmentsDepartureTimeRaw': 10816,
 'segmentsArrivalTimeEpochSeconds': 10816,
 'segmentsArrivalTimeRaw': 10816,
 'segmentsArrivalAirportCode': 10816,
 'segmentsDepartureAirportCode': 10816,
 'segmentsAirlineName': 10816,
 'segmentsAirlineCode': 10816,
 'segmentsEquipmentDescription': 10816,
 'segmentsDurationInSeconds': 10816,
 'segmentsDistance': 10816,
 'segmentsCabinCode': 10816}

So the number of columns is consistent across all files. Now I will select columns for modelling. Potential columns that are predictive of travel fares are:
- `searchDate`: date of search, which may be used with flight date to calculate the time delta between flight date and search date. Small deltas likely lead to larger fares.
- `flightDate`: date of flight. If holiday seasons, flights may be more expensive. 
- `startingAirport`: the user needs this information
- `destinationAirport`: the user needs this information
- `isBasicEconomy`: directly linked to fares
- `isRefundable`: directly linked to fares
- `isNonStop`: directly linked to fares
- `totalTravelDistance`: directly linked to fares
- `travelDuration`: directly linked to fares, and may include extra layover that `segmentsDurationInSeconds` is not reflecting. Long layover flights tend to be cheaper
- `segmentsDepartureTimeEpochSeconds`: the entry for the first leg can be used to get detailed timestamps for departure times, which is useful for feature engineering.
- `segmentsCabinCode`: directly linked to fares
- `totalFare`: target variable

In [15]:
columns_to_model = [
    'searchDate',
    'flightDate', 
    'startingAirport', 
    'destinationAirport', 
    'travelDuration', 
    'isBasicEconomy', 
    'isRefundable', 
    'isNonStop',
    'totalTravelDistance',
    'segmentsDepartureTimeEpochSeconds',
    'segmentsCabinCode',
    'totalFare'
]

## Concatenate CSV files and save as Parquet for compact sizing

In [16]:
def save_full_df_to_parquet(
        csv_filenames: list[str], 
        cols_to_include: list[str], 
        output_data_dir: str) -> None:
    pd.concat([pd.read_csv(f, usecols=cols_to_include) for f in csv_filenames], axis=0, ignore_index=True) \
    .to_parquet(f"{output_data_dir}/all_data.parquet")
    return

In [19]:
save_full_df_to_parquet(all_csvs, columns_to_model, output_data_dir)

In [20]:
df_all = pd.read_parquet(f"{output_data_dir}/all_data.parquet")

In [21]:
df_all.isna().sum()

searchDate                                0
flightDate                                0
startingAirport                           0
destinationAirport                        0
travelDuration                            0
isBasicEconomy                            0
isRefundable                              0
isNonStop                                 0
totalFare                                 0
totalTravelDistance                  959619
segmentsDepartureTimeEpochSeconds         0
segmentsCabinCode                         0
dtype: int64

## Fill `NaN` values in `totalTravelDistance`

For the total travel distance column, I will use a reference dataset from the **US Bureau of Transportation Statistics** to get the total distance (in miles) between 2 airports.

The data is available here: https://www.transtats.bts.gov/Distance.aspx

I will join these information into the existing dataset, then fill `NaN` values using pandas `combine_first()` function to select the first entry of two rows that are not `NaN`.

In [22]:
df_distance = pd.read_csv(f"{ROOT_PATH_FROM_NOTEBOOK}/{DATA_PATH}/{EXTERNAL_DATA_PATH}/Distance_of_All_Airports_20241030_201331.csv", 
                          usecols=['ORIGIN', 'DEST', 'DISTANCE IN MILES'])

In [23]:
df_distance.head()

  ORIGIN DEST  DISTANCE IN MILES
0    01A  A43               30.0
1    06A  A30               16.0
2    06A  A43               18.0
3    06A  ADQ               14.0
4    06A  AOS               40.0

Next step is to left join the original dataset with the reference dataset.

In [24]:
# Merge dataframes
df_all = df_all.merge(right=df_distance, how='left',
                      left_on=['startingAirport', 'destinationAirport'],
                      right_on=['ORIGIN', 'DEST'])

# Fill NaNs for new dataframe
df_all['totalTravelDistance'] = df_all['totalTravelDistance'].combine_first(df_all['DISTANCE IN MILES'])

# Drop reference columns since they are no longer needed
df_all.drop(['ORIGIN', 'DEST', 'DISTANCE IN MILES'], axis=1, inplace=True)

In [25]:
df_all.isna().sum()

searchDate                           0
flightDate                           0
startingAirport                      0
destinationAirport                   0
travelDuration                       0
isBasicEconomy                       0
isRefundable                         0
isNonStop                            0
totalFare                            0
totalTravelDistance                  0
segmentsDepartureTimeEpochSeconds    0
segmentsCabinCode                    0
dtype: int64

Now I will drop any duplicates and then save the imputed file to interim data.

In [26]:
# Drop duplicates
df_all.drop_duplicates(inplace=True)

In [27]:
# Save new data
df_all.to_parquet(f"{output_data_dir}/all_data_imputed.parquet")

## Feature engineering

Feature engineering:
- `deltaDays`: the difference in days from the date the search is performed and the date of the actual flight. Must be positive. The idea is that flights closer to the search date may be more expensive, since they're more likely to be full.
- Cyclical features from departure date: `month_sin`, `month_cos`, `day_of_week_sin`, `day_of_week_cos`, `hour_sin`, `hour_cos`, `minute_sin`, `minute_cos`. The idea is to bridge the gap between the last instance of the previous month/day of week/hour/minute and the first instance of the next one, so the models learn better. 

Per Pine's analysis, departure and destination airports do not seem to suggest an indication for fares, and the information is already encoded into the `totalTravelDistance` column, so they will not be included in training/validation. 

**Total columns for training/validation:**
- flightDate_month_sin
- flightDate_month_cos
- flightDate_day_of_week_sin
- flightDate_day_of_week_cos
- flightDate_hour_sin
- flightDate_hour_cos
- flightDate_minute_sin
- flightDate_minute_cos
- delta_days
- travelDuration
- isBasicEconomy
- isRefundable
- isNonStop
- totalTravelDistance
- segmentsCabinCode
- totalFare

**Columns that will go into a separate reference file** for use in inference:
- startingAirport
- destinationAirport
- totalTravelDistance

### Check unique cabin types

The number of cabin types and their unique values are essential for building the app, so I need to extract this information.

In [28]:
# Get the unique values for cabin types
cabin_types = set()

for c in df_all['segmentsCabinCode'].unique():
    for t in c.split('||'):
        cabin_types.add(t)

In [29]:
cabin_types

{'business', 'coach', 'first', 'premium coach'}

### Check the maximum number of legs for a single flight

This is also an important information for building the app.

In [31]:
# Get the maximum number of segments. This will be the maximum number of trips in a multi-city trip in the app
max_num_legs = 1
for i in df_all['segmentsCabinCode'].unique():
    if len(i.split('||')) > max_num_legs:
        max_num_legs = len(i.split('||'))

print(max_num_legs)

4

### Cyclical transformation for dates/times

In [32]:
# Replace original flightDate with more detailed flightDate
df_all['flightDate'] = df_all['segmentsDepartureTimeEpochSeconds'].apply(lambda x: int(x.split('||')[0]))

In [33]:
df_all['flightDate'] = df_all['flightDate'].apply(lambda x: pd.to_datetime(x, unit='s'))

In [34]:
# Travel duration, in days
df_all['travelDurationDay'] = df_all['travelDuration'].str.findall('[0-9]+').apply(lambda x: float(x[0])/24.0 + float(x[1])/1440.0 if len(x) == 2 else float(x[0])/24.0)

In [35]:
# Time difference in days between search date and departure date
df_all['timeDeltaDays'] = (df_all['flightDate'] - pd.to_datetime(df_all['searchDate'], format="%Y-%m-%d")).dt.days

In [36]:
# Extract the day of week, month, hour and minute components from flightDate
df_all['flightDayOfWeek'] = df_all['flightDate'].dt.weekday
df_all['flightMonth'] = df_all['flightDate'].dt.month
df_all['flightHour'] = df_all['flightDate'].dt.hour
df_all['flightMinute'] = df_all['flightDate'].dt.minute

In [37]:
# Perform cyclical transformation for day of week, month, hour and minute
df_all['flightDayOfWeekSin'] = cyclical(df_all['flightDayOfWeek'], 7, func=np.sin)
df_all['flightDayOfWeekCos'] = cyclical(df_all['flightDayOfWeek'], 7, func=np.cos)

df_all['flightMonthSin'] = cyclical(df_all['flightMonth'], 12, func=np.sin)
df_all['flightMonthCos'] = cyclical(df_all['flightMonth'], 12, func=np.cos)

df_all['flightHourSin'] = cyclical(df_all['flightHour'], 24, func=np.sin)
df_all['flightHourCos'] = cyclical(df_all['flightHour'], 24, func=np.cos)

df_all['flightMinuteSin'] = cyclical(df_all['flightMinute'], 60, func=np.sin)
df_all['flightMinuteCos'] = cyclical(df_all['flightMinute'], 60, func=np.cos)

### Basic economy analysis

This section aims to find out what types of cabins are available for basic economy tickets. The intuition is that basic economy tickets can only choose the `coach` cabin type.

In [38]:
# All cabins for basic economy tickets
basic_economy_cabins_series = df_all[df_all['isBasicEconomy']==True]['segmentsCabinCode']

basic_economy_cabins = set()

for c in basic_economy_cabins_series.unique():
    for t in c.split('||'):
        basic_economy_cabins.add(t)

In [39]:
basic_economy_cabins

{'coach'}

In [40]:
# All cabins for non-basic economy tickets
nonbasic_economy_cabins_series = df_all[df_all['isBasicEconomy']==False]['segmentsCabinCode']

nonbasic_economy_cabins = set()

for c in nonbasic_economy_cabins_series.unique():
    for t in c.split('||'):
        nonbasic_economy_cabins.add(t)

In [41]:
nonbasic_economy_cabins

{'business', 'coach', 'first', 'premium coach'}

The intuition is correct. This will be critical in modelling, because there has to be a price difference between basic and non-basic economy tickets.

### Refundables analysis

This section aims to find out what cabins are available for refundable vs. non-refundable tickets.

In [42]:
refundable_series = df_all[df_all['isRefundable']==True]['segmentsCabinCode']

refundable_cabins = set()

for c in refundable_series.unique():
    for t in c.split('||'):
        refundable_cabins.add(t)

In [43]:
refundable_cabins

{'coach'}

In [44]:
nonrefundable_series = df_all[df_all['isRefundable']==False]['segmentsCabinCode']

nonrefundable_cabins = set()

for c in nonrefundable_series.unique():
    for t in c.split('||'):
        nonrefundable_cabins.add(t)

In [45]:
nonrefundable_cabins

{'business', 'coach', 'first', 'premium coach'}

The cell below checks if any basic economy tickets are refundable.

In [46]:
len(df_all[(df_all['isBasicEconomy']==True) & (df_all['isRefundable']==True)])

0

It is safe to assume that basic economy tickets are non-refundable.

### Effect-encoding for binary variables

In a binary encoder, values are encoded as `[0, 1]`, whereas with the effect
    encoder, values are encoded as `[-1, 1]`. This encoding strategy stands to 
    benefit neural network convergence for datasets with lots of binary 
    variables, as empirically found in the following resource on neural network
    training (Specifically in the "Why not code binary inputs as 0 and 1?" 
    part): http://www.faqs.org/faqs/ai-faq/neural-nets/part2/

In [47]:
from models.preprocessing import effect_encoder

In [48]:
# Transform the cabin code and return the transformer
mlbCabinCode, cabinCodeTransformed = effect_encoder(data=df_all['segmentsCabinCode'], data_is_transformed=False)

In [49]:
# Transform the isBasicEconomy column
isBasicEconomyTransformed = effect_encoder(data=df_all['isBasicEconomy'], data_is_transformed=True).reset_index(drop=True)

In [50]:
# Transform the isRefundable column
isRefundableTransformed = effect_encoder(data=df_all['isRefundable'], data_is_transformed=True).reset_index(drop=True)

In [51]:
# Transform the isNonStop column
isNonStopTransformed = effect_encoder(data=df_all['isNonStop'], data_is_transformed=True).reset_index(drop=True)

In [52]:
# Add an extra column numLegs based on segmentsAirlineCode
numLegs = df_all['segmentsCabinCode'].apply(lambda x: len(x.split('||'))).reset_index(drop=True).rename("numLegs")

## Concatenate transformed data and save to `data/processed`

In [53]:
df_all.shape

(13166507, 26)

In [54]:
df_transformed = df_all[[    
    'flightDayOfWeekSin', 
    'flightDayOfWeekCos', 
    'flightMonthSin', 
    'flightMonthCos', 
    'flightHourSin', 
    'flightHourCos', 
    'flightMinuteSin', 
    'flightMinuteCos',
    'timeDeltaDays',
    'travelDurationDay',
    'totalTravelDistance',
    'totalFare'
    ]].reset_index(drop=True)

In [55]:
data_to_concat = [
    isBasicEconomyTransformed, 
    isRefundableTransformed, 
    isNonStopTransformed,
    numLegs,
    cabinCodeTransformed]

In [56]:
for i in data_to_concat:
    if type(i) == pd.Series:
        df_transformed = pd.concat([df_transformed, i], axis=1, names=list(df_transformed.columns)+[i.name])
    elif type(i) == pd.DataFrame:
        df_transformed = pd.concat([df_transformed, i], axis=1, names=list(df_transformed.columns)+list(i.columns))

In [57]:
df_transformed.head()

,flightDayOfWeekSin,flightDayOfWeekCos,flightMonthSin,flightMonthCos,flightHourSin,flightHourCos,flightMinuteSin,flightMinuteCos,timeDeltaDays,travelDurationDay,totalTravelDistance,totalFare,isBasicEconomy,isRefundable,isNonStop,numLegs,business,coach,first,premium coach
0,-0.433884,-0.900969,0.5,-0.866025,0.000000e+00,1.000000e+00,-2.079117e-01,0.978148,34,0.406250,1931.0,129.58,-1,-1,-1,2,-1,1,-1,-1
1,-0.433884,-0.900969,0.5,-0.866025,1.000000e+00,6.123234e-17,9.510565e-01,-0.309017,34,0.181944,1947.0,228.59,-1,-1,1,1,-1,1,-1,-1
2,0.433884,-0.900969,0.5,-0.866025,-9.659258e-01,-2.588190e-01,-9.510565e-01,-0.309017,33,0.182639,1947.0,228.59,-1,-1,1,1,-1,1,-1,-1
3,0.433884,-0.900969,0.5,-0.866025,1.224647e-16,-1.000000e+00,5.665539e-16,-1.000000,33,0.253472,1947.0,301.58,-1,-1,-1,2,-1,1,-1,-1
4,0.433884,-0.900969,0.5,-0.866025,-2.588190e-01,-9.659258e-01,0.000000e+00,1.000000,33,0.255556,1947.0,309.58,-1,-1,-1,2,-1,1,-1,-1

In [58]:
df_transformed.tail()

,flightDayOfWeekSin,flightDayOfWeekCos,flightMonthSin,flightMonthCos,flightHourSin,flightHourCos,flightMinuteSin,flightMinuteCos,timeDeltaDays,travelDurationDay,totalTravelDistance,totalFare,isBasicEconomy,isRefundable,isNonStop,numLegs,business,coach,first,premium coach
13166502,0.781831,0.623490,1.224647e-16,-1.0,1.224647e-16,-1.000000,-9.510565e-01,0.309017,53,0.314583,2161.0,661.6,-1,-1,-1,2,-1,1,-1,-1
13166503,0.781831,0.623490,1.224647e-16,-1.0,1.224647e-16,-1.000000,5.665539e-16,-1.000000,53,0.210417,2135.0,668.6,-1,-1,1,1,-1,1,-1,-1
13166504,0.781831,0.623490,1.224647e-16,-1.0,-5.000000e-01,-0.866025,9.781476e-01,0.207912,53,0.213194,2135.0,668.6,-1,-1,1,1,-1,1,-1,-1
13166505,0.781831,0.623490,1.224647e-16,-1.0,2.588190e-01,-0.965926,5.665539e-16,-1.000000,53,0.300000,2332.0,771.6,-1,-1,-1,2,-1,1,-1,1
13166506,0.974928,-0.222521,1.224647e-16,-1.0,2.588190e-01,0.965926,-5.000000e-01,0.866025,54,0.210417,2135.0,998.6,-1,-1,1,1,-1,1,-1,-1

In [59]:
processed_data_path = f"{ROOT_PATH_FROM_NOTEBOOK}/{DATA_PATH}/{PROCESSED_DATA_PATH}"

df_transformed.to_parquet(f"{processed_data_path}/all_data_transformed.parquet")

## Save transformers to `models/`

In [60]:
from joblib import dump

In [61]:
dump(mlbCabinCode, f"{ROOT_PATH_FROM_NOTEBOOK}/{MODELS_PATH}/nicholas_mlbCabinCode.joblib")

['../models/nicholas_mlbCabinCode.joblib']

## Extract origin/destination data

In [62]:
df_all[['startingAirport', 'destinationAirport']] \
    .drop_duplicates() \
    .merge(
        right=df_distance, how='left',
        left_on=['startingAirport', 'destinationAirport'],
        right_on=['ORIGIN', 'DEST']) \
    [['ORIGIN', 'DEST', 'DISTANCE IN MILES']] \
    .to_csv('distance_data.csv', encoding='utf-8', index=False, header=True)

## Extract travel duration data

In [67]:
df_all[['startingAirport', 'destinationAirport', 'travelDurationDay']] \
    .groupby(['startingAirport', 'destinationAirport']) \
    .mean() \
    .to_csv('travel_duration_data.csv', encoding='utf-8', index=True, header=True)